/* fonts */
@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream/SCDream4.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream/SCDream5.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream/SCDream6.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SCoreDream';
    src: url('../fonts/SCDream/SCDream7.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSansKR-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSansKR-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSansKR-Medium.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSansKR-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSansKR-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSansKR-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSans/GmarketSansBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSans/GmarketSansMedium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSans/GmarketSansLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 100;
  src:
  url('../fonts/Pretendard/Pretendard-Thin.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 200;
  src:
  url('../fonts/Pretendard/Pretendard-ExtraLight.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 300;
  src:
  url('../fonts/Pretendard/Pretendard-Light.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 400;
  src:
  url('../fonts/Pretendard/Pretendard-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 500;
  src:
  url('../fonts/Pretendard/Pretendard-Medium.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 600;
  src:
  url('../fonts/Pretendard/Pretendard-SemiBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 700;
  src:
  url('../fonts/Pretendard/Pretendard-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 800;
  src:
  url('../fonts/Pretendard/Pretendard-ExtraBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
	font-weight: 900;
  src:
  url('../fonts/Pretendard/Pretendard-Black.ttf') format('truetype'),
}